@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);

.head {
  position: relative;
  text-align: center;
  justify-content: center;
}

.head-text {
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.bg-image {
  height: 90vh;
}

.front-img-text {
  width: 100%;
  height: max-content;
  font-weight: bold;
  animation: typing 1.5s steps(14), blink .5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  color: white;
  border-right: 8px solid;
  margin: 0 auto;
  letter-spacing: .15em;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 6rem;
}

@keyframes typing {
  from {
    width: 0
  }
}

@keyframes blink {
  50% {
    border-color: transparent
  }
}

@media (max-width:835px) {
  .front-img-text {
    font-size: 4rem;
  }
  .bg-image{
    height: 70vh !important;
  }
}

@media (max-width:615px) {
  .front-img-text {
    font-size: 3rem;
  }
}

@media (max-width:540px) {
  .title-desc {
    font-size: 0.7rem !important;
  }

  .bg-image {
    height: 40vh !important;
  }
}

@media (max-width:480px) {
  .front-img-text {
    font-size: 2rem;
  }

  .title-des {
    font-size: 0.7rem !important;
  }
}