.navbar{
    background-color: #050505;
    padding: 1.2em;
}

.nav-item{
    padding-right: 50px;
    font-size: medium;
    text-transform: uppercase;
}

.nav-link{
    color: white;
    font-size: large;
    display: inline-block;
    position: relative;
}

#logo{
    border-radius: 15px;
    height: 50px;
    width: 50px;
}

#nav-left{
    display: flex;
}

#nav-right{
    display: flex;
    justify-content: flex-end;
    margin-left: auto;
}

.active:after{
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(1) !important;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: white;
  transform-origin: bottom left;
}

.nav-link:after{
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: white;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.nav-link:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.nav-link:hover {
    color: white;
}

.active{
    text-decoration:underline;
}