.img-right{
    max-width:100%;
    max-height:100%;
}
#next{
    float: right;
}
.cont input , .cont textarea , .cont .pro-photo , .resume-upload , .bton{
  border-radius: 0.5rem;
}
.inp , .bton{
    width: 100%;
    background-color: #545454;
    padding: 0.3rem 0.7rem;
}
input::placeholder { 
    color: white;
    opacity: 1;
}
input{
    color: white;
  }
#checkbx{
    margin-right: 0.3rem;
}
.cont{
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}
.form-signup{
  width: 50%;
}
.input-signup1 , .input-signup2{
    display: flex;
    flex-direction: column;
    row-gap: 0.8rem;
}
.input-signup3{
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
}
.page2 , .page3{
  display: none;
}
.button-radio input{
  display: none;
}
.pro-photo{
  background-color: #545454;
  margin-top: 0.5rem;
}
.last-button{
  margin-top: 2rem;
}
.bton{
    width: 100%;
    background-color: #545454;
    color: white;
  }

  .button-radio input[type="radio"] {
    opacity: 0.011;
  }
  
  .button-radio input[type="radio"]:checked + label , .bton:hover {
    background-color: white;
    color: black;
  }
  .camera-icon , .file-icon{
    color: white;
    margin-right: 0.5rem;
  }
  #pro-photo{
    display: none;
  }
  #pro-photo::after{
    display: block;
  }
  #resume{
    display: none;
  }
  .resume-upload{
    background-color: #545454;
  }
  .error-msg{
    color: rgb(247, 136, 136);
    margin-top: 1rem;
    padding: 0 1rem;
  }
  
@media only screen and (max-width: 992px){
  .form-signup{
    width: auto;
  }
}
@media only screen and (max-width: 576px){
    .img-right{
        display: none;
    }
    .page1 .cont{
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .create-acc{
        text-align: center;
    }
}