{% extends 'base.html' %}
{% block css %}
<link rel="stylesheet" href="{{url_for('static', filename='css/addQuestion.css')}}">
{% endblock %}

{% block title %}
Company | CreateTest
{% endblock %}

{% block body %}

<div class="row question-row">
    <div class="col-lg-4 col-md-5 col-sm-6 col-8">
        <form method="post" enctype="multipart/form-data" class="question-form">
            <div class="txt-wel">{{company.username}} </div>
            <input class="input is-large question" type="text" name="question" placeholder="Enter Question">
            <input class="input is-large category-question" type="text" name="category" placeholder="Enter Category">
            <div style="width: 100%;">
                <label for="QuDifficulty">Choose Difficulty</label>
                <select class="difficulty-question" id="QuDifficulty" name="QuDifficulty">
                    <option value="Easy">Easy</option>
                    <option value="Moderate">Moderate</option>
                    <option value="Difficult">Difficult</option>
                </select>
            </div>
            <input class="input is-large correct-option" type="text" name="correctoption" placeholder="Enter correct option">
            <input class="input is-large option2" type="text" name="option1" placeholder="Enter option2">
            <input class="input is-large option3" type="text" name="option2" placeholder="Enter option3">
            <input class="input is-large option4" type="text" name="option3" placeholder="Enter option4">
            <label>
                <input type="checkbox" name="ispublic"> Make the question public?
            </label>
            <button type="submit" class="add-questions-btn">
                Add    
            </button>
        
        </form>
    </div>
</div>

{% endblock %}

{% block js %}

{% endblock %}