{% extends 'base.html' %}
{% block css %}
    <link rel="stylesheet" href="{{url_for('static', filename='css/CandidateProfile.css')}}">
{% endblock %}
{% block title %}
  Home | Profile
{% endblock %}

<head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>
</head>

{% block body %}
<div>
    <div class="profile-pic">
    <img src="/uploads/ProfilePic/{{ profile_pic }}" alt="Profile Picture" >
</div> 
    
    <p> User: {{candidate.username}}<br>
     Email : {{candidate.email}} <br>
        First Name : {{candidate.firstname}}<br>
        Last Name : {{candidate.lastname}}<br>
        Gender : {{candidate.gender.value}}<br>    
        LinkedIn URL : {{candidate.linkedin}}<br>
        Github URL : {{candidate.github}}<br>
        Predicted personality : <br>
        Skills : 
        {% for skill in skills %}
            <li> {{ skill.name }} ({{ skill.level }})</li>
        {% endfor %}
    </p>
</div>
{% for labels in labels %}
    {{labels}}
{% endfor %}
{% for data in data %}
    {{ data }}
{% endfor %}
<h5>take the personality test</h5>
<a href="{{ url_for('personality_test') }}" class="">Take Test</a>
<div>
    <canvas id="chart" width="100" height="100"></canvas>
</div>
    <script src="{{ url_for('static', filename='js/candidate_profile.js') }}"></script>

<a herf="#" class="">Reset Password</a><br>
<a href="{{ url_for('auth.logout') }}" class="">Logout</a>
<a href="{{ url_for('editprofile', username=candidate.username) }}" class="">Edit Profile</a>

{% endblock %}

{% block js %}
<script src="{{ url_for('static', filename='js/candidate_profile.js') }}"></script>
{% endblock %}