{% extends 'base.html' %}
{% block css %}
    <link rel="stylesheet" href="{{url_for('static', filename='css/CandidateProfile.css')}}">
{% endblock %}
{% block title %}
  Home | Profile
{% endblock %}

{% block body %}
<div>
    <div class="profile-page-profile-pic">
    <img src="/uploads/ProfilePic/{{ profile_pic }}" alt="Profile Picture" >
</div> 
    
    <p> User: {{candidate.username}}<br>
     Email : {{candidate.email}} <br>
        First Name : {{candidate.firstname}}<br>
        Last Name : {{candidate.lastname}}<br>
        Gender : {{candidate.gender.value}}<br>    
        LinkedIn URL : {{candidate.linkedin}}<br>
        Github URL : {{candidate.github}}<br>
        Predicted personality : <br>
        Skills : 
        {% for skill in skills %}
            <li> {{ skill.name }} ({{ skill.level }})</li>
        {% endfor %}
    </p>
</div>
<h5>take the personality test</h5>
<a href="{{ url_for('personality_test') }}" class="">Take Test</a>
{% if results %}
<div>
    <canvas id="myChart" style="width: 100%;max-width: 700px;"></canvas>
</div>
{% endif %}
<a herf="#" class="">Reset Password</a><br>
<a href="{{ url_for('auth.logout') }}" class="">Logout</a>
<a href="{{ url_for('editprofile', username=candidate.username) }}" class="">Edit Profile</a>

{% endblock %}

{% block js %}
{% if results %}
<script>
    var labels ={{labels|tojson}};
    var data = {{data|tojson}};
    new Chart("myChart", {
        type: 'bar',
    data: {
        labels: labels,
        datasets: [{
            label: 'Personality Results',
            data: data,
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)'
            ],
            borderColor: [
                'rgba(255, 99, 132, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)'
            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true
                }
            }]
        }
    }
});
</script>
{% endif %}
{% endblock %}