{% extends 'base.html' %}
{% block css %}
<link rel="stylesheet" href="{{url_for('static', filename='css/createTest.css')}}">
{% endblock %}

{% block title %}
Company | CreateTest
{% endblock %}

{% block body %}
<div>
  <form class="create-test-form" method="POST" enctype="multipart/form-data">
    <div class="row create-test-row">
      <div class="col-lg-4 col-md-5 col-sm-10 col-10 create-test">
        <div class="txt-wel">{{company.username}} </div>
        <input type="text" class="input is-large" name="Testname" placeholder="Test Name" autofocus="" required>
        <input type="number" class="input is-large" name="duration" placeholder="Test Duration (minutes)" autofocus="" required>
        <input type="text" class="input is-large" name="job_description" placeholder="Job Description" autofocus="" required>
        <input type="text" class="input is-large" name="job_role" placeholder="Job Role" autofocus="" required>
        <div style="width: 100%;">
          <input type="checkbox" name="ispublic"> Make the test public?
        </div>
      </div>
      <div class="col-lg-5 col-md-6 col-sm-10 col-10 question-list">
        <div class="text-select">Select Questions</div>
        <ul class="ul-question">
          {% for publicquestion in public_question %}
            <li  class="d-flex checkbox-question-add">
              <input id="{{publicquestion.id}}" type="checkbox" name="questions">
              <label class="select-question" for="{{publicquestion.id}}">{{publicquestion.question}} Created By {{ publicquestion.owner_company}}</label>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
    <button type="submit" class="create-test-btn">Create Test</button>
  </form>

</div>
{% endblock %}


{% block js %}
{% endblock %}