{% extends 'base.html' %}
{% block css %}
<style>
    .profile-pic{
        width: 50px;
        height: 50px;
        border-radius: 50%;
        overflow: hidden;
        float: left;
        margin-top: 15px;
        margin-left: 15px;

    }
    
    .profile-pic img {
        width: 100%;
    }
</style>
    <link rel="stylesheet" href="{{url_for('static', filename='')}}">
{% endblock %}

{% block title %}
  Company | CreateTest
{% endblock %}

{% block body %}
<div>
    <div class="profile-pic">
    <img src="/uploads/ProfilePic/{{ company_logo }}" alt="Company Logo" >
</div>

<div>
    <p> User: {{company.username}} <br>
        Company Name : {{company.company_name}}<br>
    </p>
    <form id="create-test-form" method ="POST" enctype = "multipart/form-data">
        <div class="">
            <label for="name">Test Name:</label>
            <input type="text" name="Testname" autofocus="" required>
          </div>
          <div class="">
            <label for="duration">Test Duration (minutes):</label>
            <input type="number" name="duration" autofocus="" required>
          </div>
          <div class="">
            <label for="job_description">Job Description:</label>
            <input type="text" name="job_description" autofocus="" required>
          </div>
          <div class="">
            <label for="job_role">Job Role:</label>
            <input type="text" name="job_role" autofocus="" required>
          </div>
          <div>
            <label>
                <input type="checkbox" name="ispublic"> Public
            </label>
          </div>

          <h4>Select Public Questions:</h4>

          {% for publicquestion in public_question %}
          <div class="">
            <input class="" type="checkbox" name="questions" value="{{publicquestion.id}}">
            <label class="">{{publicquestion.question}} Created By {{ publicquestion.owner_company}}</label>
          </div>
          {% endfor %}
          <button type="submit" class="btn btn-primary">Create Test</button>
    </form>    
    
</div>
{% endblock %}


{% block js %}
{% endblock %}