{% extends 'base.html' %}
{% block css %}
<link rel="stylesheet" href="{{url_for('static', filename='css/home.css')}}">
{% endblock %}
{% block title %}
Home | Nominator
{% endblock %}

{% block body %}
<div class="head">
    <img class="bg-image img-fluid" src="/static/img/bg-image.jpg" alt="" style="width:100%" ;>
    <div class="head-text">
        <div class="title-head">
            <h1 class="front-img-text anim-typewriter">Nominator...</h1>
        </div>
        <div class="title-desc">
            <span class="heading-description">
                Nominator is a platform for job seekers, to job providers.
                For a betterment of future.....
            </span>
        </div>
    </div>
</div>

<!-- Recent tests container -->
<div class="container mt-5 mb-5">
    <h1 class="test-heading">Tests</h1>
    <div class="test-main-container">
      {% if tests|length > 0 %}
          <ul class="test-list-container">
            {% for test in tests %}
              <a href="/test/{{test.id}}" class="test-anchor">
                <li class="test-container">
                  <div class="test-container-row">
                    <h4 class="test-elements">{{test.name}}</h4>
                    <p class="test-elements">{{test.creation_date.strftime('%Y-%m-%d')}}</p>
                  </div>
                  <div class="test-container-row">
                    <h6 class="test-elements">
                      <i class="bi bi-bookmark-check-fill"></i>&nbsp;{{test.company_name}}
                    </h6>
                    <p class="test-elements">{{test.creation_date.strftime('%H:%M')}}</p>
                  </div>
                </li>
              </a>
            {% endfor %}
          </ul>
      {% endif %}
    </div>
</div>
{% endblock %}

{% block js %}
<script src="{{ url_for('static', filename='js/home.js') }}"></script>
{% endblock %}