{% extends 'base.html' %}
{% block css %}
<link rel="stylesheet" href="{{url_for('static', filename='css/home.css')}}">
{% endblock %}
{% block title %}
Home | Nominator
{% endblock %}

{% block body %}
<div class="head">
    <img class="bg-image img-fluid" src="/static/img/bg-image.jpg" alt="" style="width:100%" ;>
    <div class="head-text">
        <div class="title-head">
            <h1 class="front-img-text anim-typewriter">Nominator...</h1>
        </div>
        <div class="title-desc">
            <span class="heading-description">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
            </span>
        </div>
    </div>
</div>

<!-- Recent tests container -->
<div class="container mt-5" style="margin-top: 5% !important">
    <h1 class="block-heading">TESTS</h1>
    <div class="row">
        <div class="mt-3">
            {% if tests|length > 0 %}
            <ul class="list list-inline"
                style="margin-top: 3%; margin-bottom: 5%">
                {% for test in tests %}
                <a class="test-list-anchor" href="/test/{{test.id}}">
                <li class="rounded p-3 mb-5 rounded d-flex justify-content-between">
                    <div class="bg-gradient container-fluid shadow text-bg-dark rounded px-4 py-3 test-cont mb-3" style="color: white">
                        <div class="row">
                            <div class="col d-flex flex-column justify-content-between">
                                <h5>{{test.name}}</h5>
                                <h6><i style="padding-right: 10px" class="fa-solid fa-landmark"></i>{{test.company_name}}</h6>
                            </div>
                            <div class="col align-items-end d-flex flex-column justify-content-between">
                                <h6>{{test.creation_date.strftime('%Y-%m-%d')}}</h6>
                                <p>{{test.creation_date.strftime('%H:%M')}}</p>
                            </div>
                        </div>
                    </div>
                </li>
                </a>
                {% endfor %}
            </ul>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
<script src="{{ url_for('static', filename='js/home.js') }}"></script>
{% endblock %}