{% extends 'base.html' %}
{% block css %}
    <link rel="stylesheet" href="{{url_for('static', filename='css/login.css' )}}">
{% endblock %}
{% block title %}
    Home | Login
{% endblock %}

{% block body %}
<div class="main">
    <div class="container">
      <div class="row d-flex align-items-stretch">
        <div class="col left">
          <div class="text">
            <div class="heading">
              <p>Get the best Job/Employee for the
                success of both company and candidate.</p>
            </div>
            <div class="continue">
              Continue as a
            </div>
            <div class="bton mt-3">
              <div><button class="bttn " onclick="location.href = '/login-candidate'">Candidate</button></div>
              <div><button class="mt-3 bttn" onclick="location.href = '/login-company'">Company</button></div>
            </div>
          </div>
        </div>
        <div class="col banner">
          <img class="img rounded select-img" src="/static/img/choose.jpg">
        </div>
      </div>
    </div>
  </div>

{% endblock %}

{% block js %}
{% endblock %}