{% block css %}
    <link rel="stylesheet" href="{{url_for('static', filename='css/navbar.css')}}">
{% endblock %}
<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-dark">
    <div class="container-fluid">
        <a href="#" class="navbar-brand">
            <img id="logo" src="{{url_for('static', filename='img/logo.png')}}" width="50" height="50" alt="CoolBrand">
        </a>
        <button type="button" class="navbar-toggler bg-light" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="navbar-toggler-icon bg-light"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav ms-auto">
                <a href="#" class="nav-item nav-link active">Home</a>
                <a href="#" class="nav-item nav-link">About</a>
                <a href="#" class="nav-item nav-link">Tests</a>
                <a href="#" class="nav-item nav-link">Contact Us</a>
                <a href="#" class="nav-item nav-link">Login</a>
            </div>
        </div>
    </div>
</nav>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
{% block js %}
<script src="{{ url_for('static', filename='js/navbar.js') }}"></script>
{% endblock %}
