{% block css %}
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/navbar.css')}}">
{% endblock %}

<nav class="sticky-top">
    <a href="#" onclick="showNav()" id="access_nav" class="checkbtn"><i class="fa fa-bars"></i></a>
    <label>
        <a href="#"><img id="logo" src="{{url_for('static', filename='img/logo.png')}}" width="50" height="50" alt=""></a>
    </label>
    <ul class="mainnav">
        <li class="nav-item" id="clickid1"><a class="nav-link" href="/">home</a></li>
        <li class="nav-item" id="clickid2"><a class="nav-link" href="/about">about</a></li>
        <li class="nav-item" id="clickid3"><a class="nav-link" href="#">tests</a></li>
        <li class="nav-item" id="clickid4"><a class="nav-link" href="#">contact us</a></li>
        <li class="nav-item" id="clickid5"><a class="nav-link" href="#">login</a></li>
    </ul>
</nav>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
{% block js %}
<script src="{{ url_for('static', filename='js/navbar.js') }}"></script>
{% endblock %}
