{% extends 'base.html' %}

{% block css %}
<link rel="stylesheet" href="{{url_for('static', filename='css/reset.css' )}}">
{% endblock %}

{% block header %}
  <h1>{% block title %}Reset Password{% endblock %}</h1>
{% endblock %}

{% block body %}
<div class="forget-main row d-flex align-items-center justify-content-center">
  <div class="forget-password-conatiner col-lg-5 col-md-7 col-sm-10 col-10 d-flex align-items-center justify-content-center">
    <p class="forget-heading">Forget Password</p>
    <p class="reset-guide-text">Enter the email you registered with and we will send you a link to reset your password</p>
    <form class="forget-password-form" method="post">
      <input type="email" name="email" id="email" placeholder="Enter email" required>
      <button class="forget-submit" type="submit">Submit</button>
    </form>
  </div>
</div>

{% endblock %}