{% extends 'base.html' %}
{% block css %}
    <link rel="stylesheet" href="{{url_for('static', filename='css/signupCompany.css' )}}">
{% endblock %}
{% block title %}
    Home | signup
{% endblock %}

{% block body %}
<div class="main d-flex align-items-center justify-content-center" style="height: 80vh;">
    <div class="container" style="margin: auto;">
        <div class="row d-flex align-items-strech">
            <div class="col-lg-7 col-md-6 col-sm-6 d-flex align-items-center justify-content-center">
                
                    <form action="/signup-company" method="post" enctype="multipart/form-data">
                        <div class="cont">
                            <div class="create-acc">
                                <h3>Create your account</h3>
                                <h3 style="color: #d63384;">as Company</h3>
                            </div>
                            <div class="page1">
                                <div class="input-signup1">
                                    <input class="inp" type="text" placeholder="Enter company name" name="company_name" required>
                                    <input class="inp" type="text" placeholder="Enter founder name" name="founder" required>
                                    <input class="inp"  type="date" name="founded_on" placeholder="founded on" required>
                                    <textarea class="inp" rows="4" cols="25" placeholder="Enter company description" name="desc" ></textarea>
                                </div>
                                <div class="last-button">
                                    <a href="/login-candidate" style="text-decoration: none;">Sign in instead</a>
                                    <button type="button" id="next" class="btn btn-primary" onclick="chngPage1()">Next</button>
                                </div>    
                            </div>
                            
                            <div class="page2">
                                <div class="input-signup2">
                                    <input class="inp" type="text" placeholder="Enter email address" name="email" required>
                                    <input class="inp" type="text" placeholder="Create username" name="username" required>
                                    <input class="inp" id="passwd" type="password" placeholder="Create Password" name="password" required>
                                    <label>
                                        <input id="checkbx" type="checkbox" name="showPwd" onclick="showpasswd()">Show password
                                    </label>
                                    <input class="inp" type="password" placeholder="Confirm Password" name="psw-repeat" required>
                                </div>
                                <div class="last-button">
                                    <button type="button" id="back1" class="btn btn-secondary" onclick="backPage2()">Back</button>
                                    <button type="button" id="next" class="btn btn-primary" onclick="chngPage2()">Next</button>
                                </div>    
                            </div>

                            <div class="page3">
                                <div class="input-signup3">
                                    
                                    <input class="inp" type="text" placeholder="Company website link" name="website">
                                    <div class="pro-photo">
                                        <label for="pro-photo" style="padding: 0.5rem 1rem;">
                                            <i class="fa fa-camera camera-icon"></i>Upload profile picture
                                        </label>
                                        <input accept="image/*" type="file" enctype="multipart/form-data" id="pro-photo" onchange="fileName()" name="company_logo">
                                    </div>
                                    {% with messages = get_flashed_messages() %}
                                        {% if messages %}
                                            <div class="error-msg">
                                                {{ messages[0] }} Go to <a href="{{ url_for('login_company') }}">login page</a>.
                                            </div>
                                    {% endif %}
                                    {% endwith %}
                                </div>
                                <div class="last-button">
                                    <button type="button" id="back2" class="btn btn-secondary" onclick="backPage3()">Back</button>
                                    <button type="submit" id="submit" class="btn btn-primary" style="float: right;">Submit</button>
                                </div>
                            </div>
                        </div>
                    </form>
            </div>
            <div class="right col-lg-4 col-md-5 col-sm-6 d-flex align-items-center">
                <img class="img-right" src="../static/img/signup.png" alt="">
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
<script src="{{ url_for('static', filename='js/signupCompany.js') }}"></script>
{% endblock %}