{% extends 'base.html' %}

{% block title %}
    {{test.name}}
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/test_detail.css') }}">
{% endblock %}

{% block body %}
<div class="test_detail-body">
    <div class="test-detail-main-container">
        <div class="test-detail-head-left">
            <div class="test-detail-head">
                <h1>{{test.name}}</h1>
            </div>
            <div class="test-detail-container">
                <div class="test-detail-container-left">
                    <span>
                        <h5>Created By <a class="company-name" href="/company-detail/{{test.owner_company}}">{{ test.owner_company }}</a> </h5>
                    </span>
                    <h5>Job Role : {{test.job_role}}</h5>
                    <h5>Decription : {{test.description}}</h5>
                </div>
                <div class="test-detail-container-right">
                    <span>
                        Uploaded on
                    </span>
                    <h5>{{test.created_at.strftime('%Y-%m-%d')}}</h5>
                    <h5>{{test.created_at.strftime('%H:%M')}}</h5>
                </div>
            </div>
            <a class="company-name" href="/take-test/{{test.id}}">TAKE TEST {{test.name}}</a>
        </div>
    </div>
</div>
{% endblock %}